 <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: 'navbar-item' do %>
          <h1 class='title is-5'>Twitter</h1>
        <% end %>
        <div class="navbar-burger burger" data-target='navbarExample'>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to 'New Tweeet', root_path, class: "button is-info" %>
              <% if user_signed_in? %>
                <%= link_to 'Members profile', users_path, class: "button is-light" %>
                <%= link_to current_user.name, edit_user_registration_path, class: 'button is-light' %>
                <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'button is-light' %>
              <% else %>
                <%= link_to 'Sign in', new_user_session_path, class: 'button is-light' %>
                <%= link_to 'Sign up', new_user_registration_path, class: 'button is-light' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>